<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>GlycoSim</title>
  
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12./jquery.min.js"></script> -->

  <!-- import jquery library -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- bootstrap CDN ( Contents Delivery Network ) -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
  <link rel="stylesheet" href={{ url_for("static", filename="./styles/glycosim.css") }}>
  
  <!-- <link rel="stylesheet" href={{ url_for("static", filename="./styles/rings-styles.css") }}> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  
  <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/export/bootstrap-table-export.min.js"></script>

  
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  

  <script src={{ url_for("static", filename="./js/spv/SPV_v1.0.js") }}></script>
  <script src={{ url_for("static", filename="./app.bundle.js") }}></script>
  <!--  -->
  <script src={{ url_for("static", filename="./js/init.js") }} ></script>
  <script src={{ url_for("static", filename="./js/gpp.js") }} ></script>
  <script src={{ url_for("static", filename="./js/sbml.js") }}></script>
  <script src={{ url_for("static", filename="./js/sim.js") }}></script>
  <!-- <script src={{ url_for("static", filename="./js/paramter_estimation.js") }}></script> -->

  
</head>

<body>
		<div id="sim" class="tab-pane">
          <div class="row: col-12  mb-4">
            <div id="plot"></div>
            <div id="cyt_pw"></div>
            <a id="simResultDownload" href="" download="">Download Result</a>
          </div>
        </div>
        <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between text-white" id="bgcolor">
                  <h6 class="m-0 font-weight-bold text-light">data set</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                   <div class="row">
		        	<div class="col-xl-6 col-md-6">
		        		<div id="xaxis"></div>
		        	</div>
		        	<div class="col-xl-6 col-md-6">
		        		<div id="step"></div>
		        	</div>
		        </div>
                </div>
              </div>
            </div>
         </div>


		<div class="row">
            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between text-white" id="bgcolor">
                  <h6 class="m-0 font-weight-bold text-light">species</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                	<div class="row">
			            <div class="col-xl-7 col-lg-7">
                  			<div id="spenamelist"></div>
                  		</div>
                  		<div class="col-xl-5 col-lg-5">
                  			<div id="spevaluelist"></div>
                  		</div>
                  	</div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between text-white" id="bgcolor">
                  <h6 class="m-0 font-weight-bold text-light">species</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                	<div class="row">
			            <div class="col-xl-7 col-lg-7">
                  			<div id="paranamelist"></div>
                  		</div>
                  		<div class="col-xl-5 col-lg-5">
                  			<div id="paravaluelist"></div>
                  		</div>
                  	</div>
                </div>
              </div>
            </div>
        </div>   


</body>

  <script src={{ url_for("static", filename="./js/signaling/cyt_sig.js") }}></script>

<style>
body {
  background-color: #e6e6e6;
  padding-top: 30px; 
  margin: 0px 30px;
}
h7{
  font-size: 17px;
  font-weight: bold;
  border-bottom:1.5px solid #00bfff;
}
#bgcolor{
  background-color: #708090;
}
#bgcolor h6{
  font-size: 18px;
}
.container{
  margin-top:30px;
}
.container p{
  font-size :14px;
  height: 27px;
}
#mgt{
  margin-top: 50px;
}
.namelis{
  margin-bottom: 19px;
}

/*********************************/
/************side var/************/
/*********************************/
.sidebar_fixed {
  position: sticky;
  top: 100px;
}
#sidebar {
  min-width: 200px;
  max-width: 200px;
  /*background: rgb(95,103,114);*/
  background: rgb(82,90,100);
  color: rgb(82,90,100);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
}
#sidebar.active {
  margin-left: -300px; 
}
#sidebar .logo {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto; }
#sidebar .logo span {
  display: block; 
}
#sidebar ul.components {
  padding: 0; 
}
#sidebar ul li {
  font-size: 14px; 
}
#sidebar ul li > ul {
  margin-left: 10px; 
}
#sidebar ul li > ul li {
  font-size: 12px !important; 
}
#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}
#sidebar ul li a:hover {
  color: #00bfff; 
  text-decoration:none
}
#sidebar ul li.active > a {
  background: transparent;
  color: #00bfff; 
}
/*@media (max-width: 991.98px) {
  #sidebar {
    margin-left: -300px; 
  }
  #sidebar.active {
      margin-left: 0; 
  } 
}*/

a[data-toggle="collapse"] {
  position: relative; 
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}

.footer p {
  color: rgba(255, 255, 255, 0.5);
}


/*********************************/
/************top var/************/
/*********************************/
#navbar{
  background: rgb(82,90,100);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 0;
}
#navbar .logo {
  display: inline;
  margin: 0 auto; 
}
#navbar .logo span {
  display: inline; 
}
#navbar ul.components {
  padding: 0; 
}
#navbar ul li {
  font-size: 16px; 
  height: 100px;
  padding-right: 20px;
  padding-left: 40px;
  line-height: 150px; 
  display: inline-block;
}
#navbar ul li a {
  text-align: right;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255,0.5); 
}
#navbar ul li a:hover {
  color: #00bfff; 
  text-decoration:none
}
#navbar ul li.active > a {
  background: transparent;
  color: #00bfff; 
}
#navbar p {
  font-size: 40px;
  color: rgba(255, 255, 255);
  margin-bottom: 0;
  /*font-family: Candara;*/
  font-family: Comic Sans MS;
}
.brand1{
  font-size: 60px;
  font-weight: 700;
}
.brand2{
  font-weight: 500;
}
.brand3{
  font-size: 60px;
  font-weight: 700;
  font-style: oblique; 
}
.brand4{
  font-weight: 500;
  font-style: oblique; 
}
</style>