<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>GlycoSim</title>
  
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12./jquery.min.js"></script> -->

  <!-- import jquery library -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

  <!-- bootstrap CDN ( Contents Delivery Network ) -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
  <link rel="stylesheet" href={{ url_for("static", filename="./styles/glycosim.css") }}>
  <!-- <link rel="stylesheet" href={{ url_for("static", filename="./styles/rings-styles.css") }}> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  
  <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/export/bootstrap-table-export.min.js"></script>

  
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  

  <script src={{ url_for("static", filename="./js/spv/SPV_v1.0.js") }}></script>
  <script src={{ url_for("static", filename="./app.bundle.js") }}></script>
  
  <script src={{ url_for("static", filename="./js/init.js") }} ></script>
  <script src={{ url_for("static", filename="./js/gpp.js") }} ></script>
  <script src={{ url_for("static", filename="./js/sbml.js") }}></script>
  <script src={{ url_for("static", filename="./js/sim.js") }}></script>
  <script src={{ url_for("static", filename="./js/paramter_estimation.js") }}></script>

  <!-- forkineticlaw -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?...">
</script>

<!-- for cytoscape-panzoom -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cytoscape-panzoom/2.5.2/cytoscape.js-panzoom.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.7/cytoscape.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape-panzoom/2.5.2/cytoscape-panzoom.min.js"></script>
</head>


  <!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓top bar↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
<div class="row">
<div class="fixed-top">
<nav class="navbar navbar-expand-lg px-2 pt-1 pb-1 font-weight-bold" id="navbar">
  <a href="/">
        <img class="GlycosimHome mx-3" src={{ url_for("static" , filename="images/GlycoSimlogoimage.001.png" ) }}  width="160" height="70" border="0" alt="GlycoSimシンボル">
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li>
      </li>
    </ul>
    <ul class="navbar-nav mr-0 mt-2 mt-lg-0">
      <li class="nav-item">
        <a href="/">GlycanPathwayPrediction</a>
      </li>
      <li class="nav-item">
        <a href="/signaling">Signaling</a>
      </li>
      <li class="nav-item">
        <a href="/help">
          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-question-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"/>
          </svg>
        </a>
      </li>
      <li class="nav-item">
        <a href="/contact">
          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </a>
      </li>
      <li class="nav-item">
        <a href="/login">
          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-door-open-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2v13h1V2.5a.5.5 0 0 0-.5-.5H11zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>

</div>
</div>
<body>
<div class="wrapper d-flex align-items-stretch">
  <!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓side bar↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
      <nav id="sidebar">
        <div class="px-3 pt-0 px-0 fixed-left sidebar_fixed sidebar">
          <ul class="list-unstyled components mb-5 font-weight-bold">
            <li>
              <a href="#link_data">
                <svg width="2.2em" height="2.2em" viewBox="0 0 16 16" class="bi bi-file-earmark-bar-graph-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zm.5 10a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v6zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"/>
                </svg><div class="side_text1">data</div>
              </a>
          </li>
            <li>
              <a href="#link_pathway">
                <svg width="2.2em" height="2.2em" viewBox="0 0 16 16" class="bi bi-diagram-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H11a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 5 7h2.5V6A1.5 1.5 0 0 1 6 4.5v-1zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zM3 11.5A1.5 1.5 0 0 1 4.5 10h1A1.5 1.5 0 0 1 7 11.5v1A1.5 1.5 0 0 1 5.5 14h-1A1.5 1.5 0 0 1 3 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1A1.5 1.5 0 0 1 9 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                </svg><div class="side_text2">Pathway</div>
              </a>
            </li>
            <li>
              <a href="#link_reactions">
                <svg width="2.2em" height="2.2em" viewBox="0 0 16 16" class="bi bi-card-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                  <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                </svg><div class="side_text2">reaction</div>
              </a>
            </li>
            <li>
              <a href="#link_parameters">
                <svg width="2.2em" height="2.2em" viewBox="0 0 16 16" class="bi bi-sliders" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
                </svg><div class="side_text2">parameter</div>
              </a>
            </li>
            <li>
              <a href="#link_simulation">
              <svg width="2.2em" height="2.2em" viewBox="0 0 16 16" class="bi bi-graph-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
              </svg><div class="side_text2">simlation</div>
            </a>
            </li>
          </ul>
          <a href="http://rings.t.soka.ac.jp/" target="_blank">
              <img class="ringsHome" src={{ url_for("static" , filename="images/rings-symbol.png" ) }}  width="60" height="37" border="0" alt=RINGSシンボル">
          </a>
        </div>  
      </nav>
      
  <!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑side bar↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑+</div> -->
  <!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓main content↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ -->
        <div class="container px-0">


          <!-- Content Row -->
          <div class="row" id="link_data">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4 mt-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">template signaling</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <form name="s_tempfile"><select class="form-control mb-2" name="template_file">
                          <!-- <option value="./data/arak_sig/sbml/NOTCH_transport.xml">NOTCH transport</option> -->
                          <option value="./data/arak_sig/sbml/Notch_Signaling_Pathway.xml">Notch Signaling Pathway</option>
                          <option value="./data/arak_sig/sbml/notch_wnt_fgf.xml">notch_wnt_fgf</option>
                          <!-- <option value="./data/arak_sig/sbml/out.xml">v3c1</option> -->
                        </select></form>
                        <button type="button" id="sds_button" class="btn btn-primary">submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4 mt-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">use sbml</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <div class="input-group"> 
                          <form class="form form-control col-12" action="#">
                            <div class="form__file">
                              <input class="file" type="file" accept="text/xml" id="sbmlfile1" />
                              <label for="sbmlfile1">choose file</label>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4 mt-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">search biomodels</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <input type="text" name="search" id="search" class="form-control" size="16" maxlength="10"value="notch">
                        <button type="button" id="search_button" class="btn btn-info mt-2">search</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4 mt-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">SBML file</div>
                      <div class="h5 mb-0 text-gray-800">
                        <div class="form-group">
                          <input type="text" class="form-control" id="filename" placeholder="file name">
                        </div>
                        <button type="submit" id="dl_sbml" class="btn btn-warning" disabled>Download</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div id="toggle_content">
          <div class="row" id="link_pathway">
            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between text-white" id="bgcolor">
                  <h6 class="m-0 font-weight-bold text-light">PATHWAY</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <!-- <svg class="hovertext" type="button" id="cy-fit" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrows-fullscreen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
                  </svg>
                  <svg class="hovertext" type="button" id="cy-center" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-aspect-ratio" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5v-9zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                    <path fill-rule="evenodd" d="M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0v-3zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0v3z"/>
                  </svg>
                  <svg class="hovertext" type="button" id="cy-zoomin" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-zoom-in" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    <path d="M10.344 11.742c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1 6.538 6.538 0 0 1-1.398 1.4z"/>
                    <path fill-rule="evenodd" d="M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>
                  <svg class="hovertext" type="button" id="cy-zoomout" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-zoom-out" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    <path d="M10.344 11.742c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1 6.538 6.538 0 0 1-1.398 1.4z"/>
                    <path fill-rule="evenodd" d="M3 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                  </svg> -->
                  <div class="row">
                    <div class="col-xl-1 col-lg-1">
                      <svg class="hovertext" type="button" id="cy-layout" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-bezier2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h1A1.5 1.5 0 0 1 5 2.5h4.134a1 1 0 1 1 0 1h-2.01c.18.18.34.381.484.605.638.992.892 2.354.892 3.895 0 1.993.257 3.092.713 3.7.356.476.895.721 1.787.784A1.5 1.5 0 0 1 12.5 11h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5H6.866a1 1 0 1 1 0-1h1.711a2.839 2.839 0 0 1-.165-.2C7.743 11.407 7.5 10.007 7.5 8c0-1.46-.246-2.597-.733-3.355-.39-.605-.952-1-1.767-1.112A1.5 1.5 0 0 1 3.5 5h-1A1.5 1.5 0 0 1 1 3.5v-1zM2.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10 10a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                      </svg>
                    </div>
                    <div class="col-xl-11 col-lg-11">
                      <!-- <img class="img-fluid" src="" name="pathway_image"> -->
                      <div id="cy"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between text-white" id="bgcolor">
                  <h6 class="m-0 font-weight-bold text-light">Clicked</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 scroll">
                      <div id="clickedcnotent"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="accordion" id="accordionReactions">
          <div class="row">
          <div class="col-xl-3 col-lg-3">
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between text-white" id="bgcolor">
                <h6 class="m-0 font-weight-bold text-light">Search Tools</h6>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h6 class="m-0 font-weight-bold text-light"><a id="reactions_bottun">+</h6>
                </button>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionReactions">
                <div class="card-body">
                  Refine search:
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-9 col-lg-9">
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between text-white" id="bgcolor">
                <h6 class="m-0 font-weight-bold text-light">REACTIONS</h6>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h6 class="m-0 font-weight-bold text-light"><a id="reactions_bottun">+</a></h6>
                </button>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionReactions">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-3 col-lg-3">
                      regulator
                    </div>
                    <div class="col-xl-9 col-lg-9">
                      reaction
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div> -->




          
          <!-- Content Row -->
          <div class="row" id="link_parameters">
            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-6 scrollable">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between text-white" id="bgcolor">
                  <h6 class="m-0 font-weight-bold text-light">species</h6>
                  <div class="abutton"><a data-toggle="modal" data-target="#speciesjsonmodal">csv</a></div>
                </div>
                <!-- Card Body -->
                <div class="card-body">


                                                                                                                                                
                  <div id="species_list"></div>

                  
                  <div class="row"></div>
                </div>
              </div>
            </div>

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-6 scrollable">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between text-white" id="bgcolor">
                  <h6 class="m-0 font-weight-bold text-light">parameter</h6>
                  <div class="abutton"><a data-toggle="modal" data-target="#parameterjsonmodal">csv</a></div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div id="parameter_list"></div>
                </div>
              </div>
            </div>
          </div>


          <!-- use json modal -->
          <div class="modal fade" id="speciesjsonmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">species list</h5>
                </div>
                <div class="modal-body">
                  csv file
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <div class="inpjson">inport<input type="file" id="speciesjson" accept="text/csv"></div>
                  <button type="button" class="btn btn-primary" onclick="get_json('specieslist')" data-dismiss="modal">export</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="parameterjsonmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">parameters list</h5>
                </div>
                <div class="modal-body">
                  csv file
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <div class="inpjson">inport<input type="file" id="parametersjson" accept="text/csv"></div>
                  <button type="button" class="btn btn-primary" onclick="get_json('parameterslist')" data-dismiss="modal">export</button>
                </div>
              </div>
            </div>
          </div>

            <!-- Content Row -->
          <div class="row mt-5" id="link_simulation">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" id="durationtitle"></div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <input type="text" name="duration" id="duration" class="form-control" size="16" maxlength="10"value="10">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">step</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <input type="text" name="step" id="step" class="form-control" size="16" maxlength="10"value="100">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                        <div id="boxtitle"></div>
                      </div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                            <div id="boxtext"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">simulation</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <button type="button" id="s_simButton" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">run</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
        </div>
      </div>
</div>


<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Loading...</h5>
      </div>
      <div class="modal-body">
        please wait
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div> -->
<div id="overlay">
  <div class="cv-spinner">
      <span class="spinner"></span>
  </div>
</div>

<!-- BIOMODELS検索用のモダル -->
<div class="modal fade" id="searchmodal" tabindex="-1" role="dialog" aria-labelledby="searchmodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchmodalLabel">SEARCH RESULTS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id='search_results'></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>



<script>
  $(function(){
    // #で始まるリンクをクリックしたら実行されます
    $('a[href^="#"]').click(function() {
      // スクロールの速度
      var speed = 400; // ミリ秒で記述
      var href= $(this).attr("href");
      var target = $(href == "#" || href == "" ? 'html' : href);
      var position = target.offset().top;
      $('body,html').animate({scrollTop:position}, speed, 'swing');
      return false;
    });
  });
  
  // ファイルインプットボタン
  const formInputs = document.getElementsByClassName("file");
  const length = formInputs.length;
  for (let i = 0; i < length; i++) {
    formInputs[i].onchange = function () {
      const file = this.files[0].name;
      const label = this.nextElementSibling;
      if (!label.classList.contains("changed")) {
        const span = document.createElement("spa");
        span.className = "filename";
        this.parentNode.appendChild(span);
        label.classList.add("changed");
      }
      label.nextElementSibling.innerHTML = file;
    };
  }
</script>
<script src={{ url_for("static", filename="./js/cyt_sbgn/sbgnml2cytoscape.js") }}></script>
<script src={{ url_for("static", filename="./js/cyt_sbgn/sbgnstylesheet.js") }}></script>
<script src={{ url_for("static", filename="./js/signaling/signaling_cy_clickaction.js") }}></script>
<script src={{ url_for("static", filename="./js/signaling/signaling.js") }}></script>
<script src={{ url_for("static", filename="./js/signaling/search_biomodels.js") }}></script>

<style type="text/css">
  span {
    margin-right: 10px;
    color: #00bfff;
  }
  #cy {
          width: 100%;
          height: 500px;
          /*position: absolute;*/
          left: 0;
          top: 100;
          z-index: 999;
          margin-left: -10px;
        }
  .cy-panzoom{
          margin-left: -70px;
          margin-top: 50px; 
  }
  #clickedcnotent{
          width: 100%;
          height: 500px;
  }
  

  </style>


